@if (Request.IsAuthenticated)
{
    @*<text>
            Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            }
        </text>*@

    //color: rgba(100, 255, 100, 0.6);
}
else
{
    <div id="loginWrapper">
        <div id="loginForm">
            <input type="text" placeholder="Username" />
            <input type="text" placeholder="Password" />
        </div>
        <div>
            <input id="btnLogin" type="submit" value="Login" />
        </div>
        <div>
            <input id="btnRegister" type="submit" value="Register" />
        </div>

        <i class="fa fa-user"></i>
    </div>
    @*<ul>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>*@
}
